<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{registration.form.page-title}">Register your account</title>
</head>
<body>
<section>
    <h1 th:text="#{registration.form.title}">Register your account</h1>
    <h2 th:text="#{registration.form.subtitle}">Sign up to get full access</h2>
</section>
<section>
    <div th:if="${error != null}" th:text="${error}"></div>
    <div>
        <form method="post" th:action="@{/register}" th:object="${registration}">
            <div th:if="${#fields.hasGlobalErrors()}">
                <ul>
                    <li th:each="err : ${#fields.globalErrors()}" th:text="${err}"></li>
                </ul>
            </div>
            <div>
                <label>
                    <span th:text="#{registration.form.labels.username}">Username:</span>
                    <input th:field="*{username}" type="email"/>
                </label>
                <span th:each="err : ${#fields.errors('username')}" th:text="${err}"></span>
            </div>
            <div>
                <label>
                    <span th:text="#{registration.form.labels.nickname}">Nickname:</span>
                    <input th:field="*{nickname}" type="text"/>
                </label>
                <span th:each="err : ${#fields.errors('nickname')}" th:text="${err}"></span>
            </div>
            <div>
                <label>
                    <span th:text="#{registration.form.labels.password}">Password:</span>
                    <input th:field="*{password}" type="password"/>
                </label>
                <span th:each="err : ${#fields.errors('password')}" th:text="${err}"></span>
            </div>
            <div>
                <button type="submit" th:text="#{registration.form.labels.submit}">Register</button>
            </div>
        </form>
    </div>
</section>
</body>
</html>